In [14]:
# Basic Packages
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

from simple_colors import *

# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [11]:
# Getting the Data
os.getcwd()
db  = pd.read_csv("Data/stud.csv")

In [12]:
# Reading Data
db.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88

In [15]:
"""
Displaying unique contents in a columns
"""


# Gender
print(green("Unique Gender Values :",'bold'),db['gender'].unique())

# Etnicity
print(green("\nUnique race_ethnicity Values :",'bold'),db['race_ethnicity'].unique())

# Education
print(green("\nUnique Education Values :",'bold'),db['parental_level_of_education'].unique())

# Lunch
print(green("\nUnique Lunch Values :",'bold'),db['lunch'].unique())

# Preparation
print(green("\nUnique Preparation Values :",'bold'),db['test_preparation_course'].unique())

Unique Gender Values : ['female' 'male']

Unique race_ethnicity Values : ['group B' 'group C' 'group A' 'group D' 'group E']

Unique Education Values : ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

Unique Lunch Values : ['standard' 'free/reduced']

Unique Preparation Values : ['none' 'completed']

##### Preparing X and Y Variable

In [37]:
# X & Y Variables
X= df.drop(columns=['math_score'],axis=1)
y = df.math_score

In [42]:
# Checkin Variables are Created properly
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [44]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

In [45]:
"""
OneHotEncoding for Categorical Values.
Scaling for numerical values which STD. DEV (1) Mean is 0
ColumnTransform for mixed values both numerical and categorical Values

"""
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_tranformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
    ("OneHotEncoder",oh_transformer,cat_features),
    ("StandardScalar",numeric_tranformer,num_features)
     ]
)

In [46]:
X = preprocessor.fit_transform(X)

In [52]:
X.shape

(1000, 19)